# üë®‚Äçüíª Projeto Bolsa de Valores üíπüí∞

- O `yfinance` √© uma biblioteca do Python usada para acessar dados financeiros do **Yahoo Finance**.
- Com ela, voc√™ pode obter informa√ß√µes sobre a√ß√µes, √≠ndices, moedas, fundos e outros ativos financeiros diretamente pelo c√≥digo.

In [1]:
# Instalando a biblioteca yfinance
!pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (0.2.55)
Requirement already satisfied: pandas>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from requests>=2.31->yfinance) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)

In [2]:
import pandas as pd
import yfinance as y

In [3]:
# Importando tamb√©m uma biblioteca para trabalhar com gr√°ficos
import matplotlib.pyplot as plt

In [4]:
# Dados Bolsa de Valores da Petrob√°s
df = y.download('petr4.sa', period='3y')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [5]:
# Pegando os 5 primeiros dados
df.head()

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2022-03-28  12.433751  12.622619  12.189797  12.614749  68610500
2022-03-29  12.709182  12.890179  12.559662  12.642292  93809000
2022-03-30  12.980677  12.980677  12.740658  12.787874  69648400
2022-03-31  13.161674  13.208891  12.787875  12.815418  94269500
2022-04-01  12.988546  13.295456  12.949200  13.201022  72545400

In [6]:
# Pegando os 5 √∫ltimmos dados
df.tail()

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2025-03-21  36.799999  37.029999  36.180000  36.220001  61175700
2025-03-24  36.750000  36.939999  36.500000  36.700001  20348000
2025-03-25  37.040001  37.520000  36.630001  36.849998  28036100
2025-03-26  37.389999  37.630001  37.150002  37.150002  26870300
2025-03-27  37.849998  37.970001  37.389999  37.430000  10731900

In [7]:
df.shape

(750, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 750 entries, 2022-03-28 to 2025-03-27
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, PETR4.SA)   750 non-null    float64
 1   (High, PETR4.SA)    750 non-null    float64
 2   (Low, PETR4.SA)     750 non-null    float64
 3   (Open, PETR4.SA)    750 non-null    float64
 4   (Volume, PETR4.SA)  750 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 35.2 KB

---

## Perguntas de Neg√≥cio:

1. **Qual foi o valor de fechamento mais baixo?**

In [9]:
# Verificando as 10 primeiras linhas
df['Close'].iloc[0:10]

Ticker       PETR4.SA
Date
2022-03-28  12.433751
2022-03-29  12.709182
2022-03-30  12.980677
2022-03-31  13.161674
2022-04-01  12.988546
2022-04-04  12.866571
2022-04-05  12.744592
2022-04-06  12.732790
2022-04-07  13.393825
2022-04-08  13.460712

In [10]:
# Verificando o valor de fechamento mais baixo usando o m√©todo min()
round(df['Close'].min(), 2) # Usando a fun√ß√£o round para arrendondar o valor

Ticker
PETR4.SA    12.43
dtype: float64

In [11]:
indice_min = df['Close'].idxmin()  # Retorna o √≠ndice do menorr valor de 'Close'
resultado = df.loc[indice_min]  # Obt√©m a linha correspondente

resultado

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2022-03-28  12.433751  12.622619  12.189797  12.614749  68610500

<br>

2. **Qual foi o valor de fechamento mais alto?**

In [12]:
# Verificando o valor de fechamento mais alto usando o m√©todo max()
round(df['Close'].max(), 2)

Ticker
PETR4.SA    38.5
dtype: float64

In [13]:
indice_max = df['Close'].idxmax()  # Retorna o √≠ndice do maior valor de 'Close'
resultado = df.loc[indice_max]  # Obt√©m a linha correspondente

resultado

Price         Close     High        Low       Open    Volume
Ticker     PETR4.SA PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2025-02-20     38.5    38.57  38.310001  38.419998  26641200

<br>

3. **Qual foi o pre√ßo m√©dio de fechamento?**

In [14]:
# Verificando o valor m√©dio de fechamento
round(df['Close'].mean(), 2)

Ticker
PETR4.SA    25.4
dtype: float64

<br>

4. **Qual foi a maior queda do papel dentro do per√≠odo?**

In [15]:
# Vamos criar uma nova coluna chamado varia√ß√£o usando o m√©todo pct_change()
df['Variacao'] = df['Close'].pct_change() * 100

- ``df['Close']``: Acessa a coluna "Close" do DataFrame, que provavelmente cont√©m os pre√ßos de fechamento de um ativo financeiro (a√ß√µes, criptomoedas, etc.).
- ``.pct_change()``: Esse m√©todo calcula a varia√ß√£o percentual entre um valor e o valor anterior na mesma coluna.
- ``* 100``: Multiplica o resultado por 100 para expressar a varia√ß√£o em porcentagem.
- ``df['Variacao']``: Armazena os valores calculados em uma nova coluna chamada "Variacao".

__Observa√ß√£o:__ O m√©todo ``.pct_change()`` do Pandas calcula a varia√ß√£o percentual entre os valores consecutivos de uma s√©rie ou coluna de um DataFrame.

In [16]:
df.head()

Price           Close       High        Low       Open    Volume  Variacao
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2022-03-28  12.433751  12.622619  12.189797  12.614749  68610500       NaN
2022-03-29  12.709182  12.890179  12.559662  12.642292  93809000  2.215186
2022-03-30  12.980677  12.980677  12.740658  12.787874  69648400  2.136210
2022-03-31  13.161674  13.208891  12.787875  12.815418  94269500  1.394364
2022-04-01  12.988546  13.295456  12.949200  13.201022  72545400 -1.315396